<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meadow Market 🍀</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <% const messages=flash(); %>
    <% if (messages.success && messages.success.length> 0) { %>
        <% messages.success.forEach(msg=> { %>
            <div class="flash flash-success"><%= msg %></div>
                <% }) %>
        <% } %>
    <% if (messages.error && messages.error.length> 0) { %>
        <% messages.error.forEach(msg=> { %>
            <div class="flash flash-error"><%= msg %></div>
                <% }) %>
        <% } %>
</body>

</html>